body,html{
    height: 100%;
    width: 100%;
    margin: 0;
}
#upper_page{
    position: absolute;
    width: 100%;
    height: 65%;
    background-color: rgb(247,148,29);
    border-bottom: solid rgb(105, 52, 26) 2.5px;
}
#lower_page{
    position: absolute;
    width: 100%;
    height: 35%;
    bottom: 0%;
    background-color: rgb(28,28,28);
}
#menu{
    color: whitesmoke;
    font-size: 17px;
}
#menu2{
    position: absolute;
    top: 58%;
    left: 41%;
}
#cir1{
    background-color: rgb(218,70,56);
    border-radius: 50px;
    height: 100px;
    width: 100px;
}
#cir2{
    background-color: rgb(0,149,132);
    border-radius: 50px;
    height: 100px;
    width: 100px;
}
#cir3{
    background-color: rgb(247,148,29);
    border-radius: 50px;
    height: 100px;
    width: 100px;
}
#upper_text{
    position: absolute;
    top: 35%;
    left: 41.5%;
    color: whitesmoke;
    font-size: 30px;
}