body,html{
    height: 100%;
    width: 100%;
    margin: 0;
}
#upper_page{
    position: absolute;
    width: 100%;
    height: 65%;
    background-color: rgb(247,148,29);
    border-bottom: solid rgb(105, 52, 26) 2.5px;
}
#lower_page{
    position: absolute;
    width: 100%;
    height: 35%;
    bottom: 0%;
    background-color: rgb(28,28,28);
    transition: 0.5s;
}
#menu{
    color: white;
    font-size: 22px;
    font-family:'BVahidBold',Sans-Serif;
}
#menu2{
    position: absolute;
    top: 58%;
    left: 40%;
}
#cir1{
    background-color: rgb(218,70,56);
    border-radius: 50px;
    height: 100px;
    width: 100px;
    border-bottom: solid rgb(105, 41, 32) 3px;
    cursor: pointer;
}
#cir2{
    background-color: rgb(0,149,132);
    border-radius: 50px;
    height: 100px;
    width: 100px;
    border-bottom: solid rgb(0, 105, 89) 3px;
    cursor: pointer;
}
#cir3{
    background-color: rgb(247,148,29);
    border-radius: 50px;
    height: 100px;
    width: 100px;
    border-bottom: solid rgb(105, 52, 26) 3px ;
    cursor: pointer;
}
#upper_text{
    position: absolute;
    top: 30%;
    left: 34%;
    color: whitesmoke;
    font-family:'BVahidBold',Sans-Serif;
}
.menu_text:hover{
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
}
.menu_text{
    transition: 0.3s;
}
.lower_text{
    position: absolute;
    bottom: 14%;
    left: 36%;
    color: whitesmoke;
    font-family:'BVahidBold',Sans-Serif;
}
.t1:hover{
    font-size: 25px;
    position: relative;
    bottom: -5px;
}
.t2:hover{
    font-size: 25px;
    position: relative;
    bottom: -5px;
}
.t3:hover{
    font-size: 25px;
    position: relative;
    bottom: -5px;
}
.t4:hover{
    font-size: 25px;
    position: relative;
    bottom: -5px;
}
#cir1_text{
    visibility: hidden;
    left: 42%;
}
#cir2_text{
    visibility: hidden;
    left: 40.5%;
}
#cir3_text{
    visibility: visible;
}
#lower_page:hover{
    opacity: 0.97;
    transition: 0.5s;
}